.container-fluid {
  background-color: #15141f;
  color: white;
}

.main-title {
  font-size: 1.9em;
}

.search-inp {
  color: white;
  display: flex;
}

.menu {
  cursor: pointer;
}

/* .menu-selected {
  color: #ff8f71;
  border-bottom: #ff8f71 solid 0.125em;
} */

.movieImg {
  border-radius: 2.5em;
}

.links {
  text-decoration: none;
  color: white;
}
.links:hover {
  text-decoration: none;
  color: #ff8f71;
  border-bottom: #ff8f71 solid 0.125em;
}

.link-tag {
  text-decoration: none;
  color: white;
}
.link-tag:visited {
  text-decoration: none;
  color: white;
}
