.container-fluid {
  background-color: #15141f;
  color: white;
}
.not-found {
  height: 100vh;
}

.main-title {
  font-size: 1.9em;
}

.search-inp {
  color: white;
  display: flex;
}

.menu {
  cursor: pointer;
}

.movieImg {
  border-radius: 20%;
}

.links {
  text-decoration: none;
  color: white;
}
.links:hover {
  text-decoration: none;
  color: #ff8f71;
  border-bottom: #ff8f71 solid 0.125em;
}
.links-active {
  text-decoration: none;
  color: #ff8f71;
  border-bottom: #ff8f71 solid 0.125em;
}

.link-tag {
  text-decoration: none;
  color: white;
}
.link-tag:visited {
  text-decoration: none;
  color: white;
}
